.btn {
    font-weight: 100;
}

.btn.btn-transparent {
    background: #ffffff00;
    border-color: #ffffff00;
    border-radius: 10px;
    font-size: 16px;
    padding: 0.26rem 0.75rem;
    color: #333333;
}
.btn.btn-transparent:focus {
    box-shadow: none;
}

.btn.btn-primary {
    background: #fb8a2e;
    border-color: #fb8a2e;
    border-radius: 10px;
    font-size: 16px;
    padding: 0.26rem 0.75rem;
}

.btn.btn-secondary {
    background: #b6b6b7;
    border-color: #b6b6b7;
    border-radius: 10px;
    font-size: 16px;
    padding: 0.26rem 0.75rem;
}

.btn.btn-outline-secondary {
    border: 1px solid #fb8a2e;
    border-radius: 10px;
    font-size: 16px;
    padding: 0.26rem 0.75rem;
    color: #fb8a2e;
}

.favorite-button {
    width: 28px;
    height: 28px;
    border-radius: 100%;
    box-shadow: 0px 6px 16px rgba(26, 61, 107, 0.16);
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #828EA5;
    transition: all 0.3s ease;
    cursor: pointer;
}

.favorite-button:hover {
    color: #E4508F;
    transition: all 0.3s ease;
}