* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.breadcrumb-box {
    position: relative !important;
    background: none !important;
    height: 25px !important;
}

.breadcrumb-item {
    font-size: 14px;
}

.fw-bold {
    font-weight: bold !important;
}

.breadcrumb-item > a {
    color: #fb8a2e;
}

.text-light-secondary {
    color: #b9b9b9;
}

.mt-100 {
    margin-top: 100px;
}
.mb-35 {
    margin-bottom: 35px;
}

.header-box {
    padding: 25px 0px 13px 0px;
}

body {
    background: #F4F7FB;
}

.bg-dark {
    background: #EEF2F8 !important;
}

p {
    margin: 0;
}
.content-page {
    padding-top: 122px;
}
a {
    text-decoration: none;
}

li {
    list-style: none !important;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

ol,
ul {
    padding-left: 0;
}




.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.2;
}
h1 {
    font-weight: 600;
    font-size: 30px;
    line-height: 2;
    color: #4F719D;
}
h5 {
    font-size: 18px;
}

.blue_color {
    color: #4f719d;
}

.shadow {
    box-shadow: 0px 0px 1px rgba(13, 35, 67, 0.35), 0px 8px 17px -8px rgba(13, 35, 67, 0.15) !important;
}

.sidebar {
    position: fixed;
    top: 59px;
    left: 0;
    height: 100%;
    width: 260px;
    background: #ffffff;
    z-index: 100;
    transition: all 0.5s ease;
}
.sidebar.close {
    width: 50px;
}
.sidebar .nav-links {
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
}
.sidebar.close .nav-links {
    overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}
.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li .iocn-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link {
    display: block;
}
.sidebar .nav-links li i {
    height: 50px;
    min-width: 50px;
    text-align: center;
    line-height: 50px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .nav-links li i.arrow {
    height: 50px;
    min-width: 36px;
    text-align: center;
    line-height: 50px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu div i.arrow {
    transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow {
    display: none;
}
.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sidebar .nav-links li a .link_name {
    font-size: 17px;
    font-weight: 100;
    color: rgb(0, 0, 0);
    transition: all 0.4s ease;
    white-space: nowrap;
}
.sidebar.close .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-links li .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #e5e5e5;
    display: none;
}
.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
}
.sidebar .nav-links li .sub-menu a {
    color: rgb(0, 0, 0);
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
}
.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}

.sidebar .nav-links li:hover {
    background: #e5e5e5;
}
.sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}
.sidebar .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
}

.sidebar .nav-links li .sub-menu .link_name {
    display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name {
    font-size: 18px;
    opacity: 1;
    display: block;
}
.sidebar .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

.home-section {
    position: relative;
    background: #ffffff;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}
.sidebar.close ~ .home-section {
    left: 50px;
    width: calc(100% - 50px);
}
.home-content {
    padding: 71px 18px 18px 18px;
}

@media (max-width: 420px) {
    .sidebar.close .nav-links li .sub-menu {
        display: none;
    }
}


.heading_text_info p {
    font-size: 14px;
    color: #333333;
    margin-bottom: 10px;
}

/* Навигационное меню */
/* .navigation-bar-sidemenu {
    flex-grow: 1;
    padding-left: 30px;
} */

/* НОВОСТНАЯ КАРТОЧКА */
.card-img,
.card-img-top {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.card-body {
    padding: 15px 25px 20px 25px;
}
.card-title {
    margin-bottom: 0.2rem;
    height: 50px !important;
}
.card-title > p {
    color: #152943;
    font-size: 16px;
    font-weight: 700;
}
.card-text > p {
    color: #7e7e7e;
    font-size: 14px;
    line-height: 1.5;
}
.card-author {
    display: flex;
}
.card-author-name {
    font-size: 12px;
    color: #152943;
    font-weight: 700;
}
.card-author-type {
    font-size: 10px;
    color: #7e7e7e;
    font-weight: 500;
}
/*  */

/* ОБОЛОЧКА КОНТЕНТА */
.content {
    box-shadow: 0px 0px 1px rgba(13, 35, 67, 0.35), 0px 8px 17px -8px rgba(13, 35, 67, 0.15);
    border-radius: 30px !important;
    background: white;
}

/* ПУНКТЫ ВЫБОРА НОВОСТЕЙ И СТАТЕЙ */
.nav-category__items {
    display: flex;
    align-items: center;
}
.nav-category__items li {
    list-style: none;
    margin-right: 30px;
}
.nav-category__items li a {
    position: relative;
    color: #b6b6b7;
    font-size: 16px;
    font-weight: 100;
    padding-bottom: 10px;
    text-decoration: none;
}
.nav-category__items li a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background: #fb8a2e;
    border-radius: 12px;
    transition: all 0.4s ease;
}
.nav-category__items li a.active {
    color: #fb8a2e;
    font-weight: 500;
}
.nav-category__items li a.active:before {
    width: 100%;
}

.nav-category__items li a:hover:before {
    width: 100%;
}

.nav-category__items__show-all li a {
    color: #fb8a2e;
    font-weight: 500;
    font-size: 16px;
}

.nav-category {
    margin-bottom: 30px;
}
.nav-category::-webkit-scrollbar {
    width: 0;
    overflow: overlay;
    white-space: nowrap;
}
/*  */

/* Мини карточка салона */
.salon {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #aaaaaa;
    padding: 25px;
}

.salon:last-child {
    border-bottom: none;
}

.salon__image {
    padding-right: 12.5px;
    border-right: 1px solid #aaaaaa;
}

.salon__info__name {
    font-size: 18px;
    color: #4f719d;
    font-weight: 500;
}

.salon__info__description {
    font-size: 14px;
    color: #333333;
}

.salon__info {
    padding: 0 12.5px;
    border-right: 1px solid #aaaaaa;
}

.salon__services {
    padding: 0 12.5px;
    border-right: 1px solid #aaaaaa;
    white-space: nowrap;
}

.salon__services ul li a {
    font-size: 14px;
    font-weight: 500;
    color: #152943;
}

.salon__portfolio {
    display: flex;
    align-items: center;
    padding: 0 12.5px;
    border-right: 1px solid #aaaaaa;
}

.salon__portfolio div {
    margin-right: 10px;
}
.salon__portfolio div:last-child {
    margin-right: 0;
}

.salon__actions {
    padding-left: 12.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ВЕРХНЕЕ МЕНЮ С КНОПКАМИ И ЛОГОТИПОМ */
nav .header-top {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 50px;
}
nav .header-top .nav-links {
    line-height: 47px;
    height: 100%;
}
nav .header-top .links {
    display: flex;
    justify-content: space-between;
}
nav .header-top .links li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 20px;
}
nav.header-top-box {
    height: 49px;
    background: white;
    z-index: 100;
}

 
.footer-box {
    margin-top: 150px;
    position: relative;
    height: 300px;
    background-color: #4F719D;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.footer-box::after {
    position: absolute;
    content: url(../img/footer-image.png);
    transform: scale(0.18);
    bottom: -116px;
    right: 46%;
}

/* НАВИГАЦИОННОЕ ВЕРХНЕЕ МЕНЮ */
.navigation-box {
    position: fixed;
    top: 49px;
    left: 0;
    width: 100%;
    height: 100%;
    height: 47px;
    background: #ffffff;
    z-index: 99;
}
nav .navigation-bar {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 50px;
}

nav .navigation-bar .nav-links {
    line-height: 47px;
    height: 100%;
}
nav .navigation-bar .links {
    display: flex;
    justify-content: space-between;
}
nav .navigation-bar .links li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 20px;
}

nav .navigation-bar .links li a {
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
    transform: rotate(180deg);
}

nav .navigation-bar .links li .arrow {
    /* background: red; */
    height: 100%;
    width: 22px;
    line-height: 47px;
    text-align: center;
    display: inline-block;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease;
}
nav .navigation-bar .links li .sub-menu {
    position: absolute;
    top: 47px;
    left: 0;
    line-height: 40px;
    background: #3e8da8;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
}
nav .navigation-bar .links li:hover .htmlCss-sub-menu,
nav .navigation-bar .links li:hover .js-sub-menu {
    display: block;
}
.navigation-bar .links li .sub-menu li {
    padding: 0 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navigation-bar .links li .sub-menu a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}
.navigation-bar .links li .sub-menu .more-arrow {
    line-height: 40px;
}
.navigation-bar .links li .htmlCss-more-sub-menu {
    /* line-height: 40px; */
}
.navigation-bar .links li .sub-menu .more-sub-menu {
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    z-index: 1;
    display: none;
}
.links li .sub-menu .more:hover .more-sub-menu {
    display: block;
}

.navigation-bar .nav-links .sidebar-logo {
    display: none;
}
.navigation-bar .bx-menu {
    display: none;
}
@media (max-width: 920px) {
    nav .navigation-bar {
        max-width: 100%;
        padding: 0 25px;
    }

    nav .navigation-bar .links li {
        padding: 0 10px;
        white-space: nowrap;
    }
    nav .navigation-bar .links li a {
        font-size: 15px;
    }
}
@media (max-width: 800px) {
    nav {
        /* position: relative; */
    }
    .navigation-bar .bx-menu {
        display: block;
    }
    nav .navigation-bar .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        display: block;
        max-width: 270px;
        width: 100%;
        background: #3e8da8;
        line-height: 40px;
        padding: 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.5s ease;
        z-index: 1000;
    }
    .navigation-bar .nav-links .sidebar-logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .sidebar-logo .logo-name {
        font-size: 25px;
        color: #fff;
    }
    .sidebar-logo i,
    .navigation-bar .bx-menu {
        font-size: 25px;
        color: #fff;
    }
    nav .navigation-bar .links {
        display: block;
        margin-top: 20px;
    }
    nav .navigation-bar .links li .arrow {
        line-height: 40px;
    }
    nav .navigation-bar .links li {
        display: block;
    }
    nav .navigation-bar .links li .sub-menu {
        position: relative;
        top: 0;
        box-shadow: none;
        display: none;
    }
    nav .navigation-bar .links li .sub-menu li {
        border-bottom: none;
    }
    .navigation-bar .links li .sub-menu .more-sub-menu {
        display: none;
        position: relative;
        left: 0;
    }
    .navigation-bar .links li .sub-menu .more-sub-menu li {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .links li:hover .htmlcss-arrow,
    .links li:hover .js-arrow {
        transform: rotate(0deg);
    }
    .navigation-bar .links li .sub-menu .more-sub-menu {
        display: none;
    }
    .navigation-bar .links li .sub-menu .more span {
        /* background: red; */
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
    }

    .links li .sub-menu .more:hover .more-sub-menu {
        display: none;
    }
    nav .navigation-bar .links li:hover .htmlCss-sub-menu,
    nav .navigation-bar .links li:hover .js-sub-menu {
        display: none;
    }
    .navigation-bar .nav-links.show1 .links .htmlCss-sub-menu,
    .navigation-bar .nav-links.show3 .links .js-sub-menu,
    .navigation-bar .nav-links.show2 .links .more .more-sub-menu {
        display: block;
    }
    .navigation-bar .nav-links.show1 .links .htmlcss-arrow,
    .navigation-bar .nav-links.show3 .links .js-arrow {
        transform: rotate(180deg);
    }
    .navigation-bar .nav-links.show2 .links .more-arrow {
        transform: rotate(90deg);
    }
}
@media (max-width: 370px) {
    nav .navigation-bar .nav-links {
        max-width: 100%;
    }
}
